<!-- Slider Start -->
<section id="slider">

  <div class="row">
    <div class="col-md-offset-1 col-md-5 col-sm-12">
      <div class="block">
        <p class="animated fadeInLeft">Get your taxes in order, stay compliant and stress-free with tax preparation &
          filing with our expert tax advice.</p>
      </div>
      <div class="block animated fadeInUp"">
        <a class="btn btn-primary btn-call-to-action" href="/contact.html">Contact Us</a>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="block text-center">
        <img src="img/MACC-2.png" alt="MAC Consultants">
      </div>
    </div>

  </div>

</section>